<h1>List of People</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>Group Name</th>
  </tr>
 
  <% @person.each do |people| %>
    <tr>
      <td><%= people.name %></td>
      <td><%= people.address %></td>
      <td><%= people.telephone %></td>
      <td><%= people.group.groupname %></td>
       <td><%= link_to 'Delete', person_path(people), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add New People', new_person_path %>
<%= link_to 'Home', root_path %>