<h1>Yollo</h1>
<p>Create New Person Here</p>

<%= form_for :person, url: people_path do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited
      this post from being saved:</h2>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
 
  <p>
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </p>

  </p>
  <%= f.label :groupname %>
  <%= f.collection_select(:group_id, Group.all, :id, :groupname) %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>