<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>
 
<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @person.group_id %>
</p> 

<p>
  <strong>Group name:</strong>
  <%= @person.group.groupname %>
</p> 
<%= link_to 'Back to List', people_path %>